<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925031854161-i8sg1decnm7u0kuia9nhpd46c59q27vm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925031854161-i8sg1decnm7u0kuia9nhpd46c59q27vm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>925031854161-cvgvrla42plcqfomaoo3pkvq4aobnevm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATN5W3LWa92apMSf2lpKZSzrUnZfSI_cQ</string>
	<key>GCM_SENDER_ID</key>
	<string>925031854161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mt-fitmatch</string>
	<key>PROJECT_ID</key>
	<string>fit-match-6930a</string>
	<key>STORAGE_BUCKET</key>
	<string>fit-match-6930a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925031854161:ios:0773aca33a0876afc88870</string>
	<key>DATABASE_URL</key>
	<string>https://fit-match-6930a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>